<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.home.mapper.KeystoPngimgHomeMapper">
    
    <resultMap type="KeystoPngimgHome" id="KeystoPngimgHomeResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="keywords"    column="keywords"    />
        <result property="name"    column="name"    />
        <result property="miaoshu"    column="miaoshu"    />
        <result property="info"    column="info"    />
        <result property="src"    column="src"    />
        <result property="size"    column="size"    />
        <result property="type"    column="type"    />
    </resultMap>


    <sql id="selectKeystoPngimgHomeVo">
        select id, title, keywords, name, miaoshu, info, src, size, type from keysto_pngimg
    </sql>

    <!--    查询分类Result-->
    <resultMap type="KeystoPngingType" id="KeystoPngimgTypeResult">
        <result property="type"    column="type"  />
        <result property="countType"    column="countType"  />
    </resultMap>

    <sql id="selectKeystoPngimgTypeVo">
        select type,count(type) countType from keysto_pngimg
    </sql>

    <select id="selectKeystoPngimgHomeList" parameterType="KeystoPngimgHome" resultMap="KeystoPngimgHomeResult">
        <include refid="selectKeystoPngimgHomeVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="keywords != null  and keywords != ''"> and keywords = #{keywords}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
        </where>
    </select>
    
    <select id="selectKeystoPngimgHomeById" parameterType="Long" resultMap="KeystoPngimgHomeResult">
        <include refid="selectKeystoPngimgHomeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertKeystoPngimgHome" parameterType="KeystoPngimgHome" useGeneratedKeys="true" keyProperty="id">
        insert into keysto_pngimg
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="keywords != null">keywords,</if>
            <if test="name != null">name,</if>
            <if test="miaoshu != null">miaoshu,</if>
            <if test="info != null">info,</if>
            <if test="src != null">src,</if>
            <if test="size != null">size,</if>
            <if test="type != null">type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="keywords != null">#{keywords},</if>
            <if test="name != null">#{name},</if>
            <if test="miaoshu != null">#{miaoshu},</if>
            <if test="info != null">#{info},</if>
            <if test="src != null">#{src},</if>
            <if test="size != null">#{size},</if>
            <if test="type != null">#{type},</if>
         </trim>
    </insert>

    <update id="updateKeystoPngimgHome" parameterType="KeystoPngimgHome">
        update keysto_pngimg
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="keywords != null">keywords = #{keywords},</if>
            <if test="name != null">name = #{name},</if>
            <if test="miaoshu != null">miaoshu = #{miaoshu},</if>
            <if test="info != null">info = #{info},</if>
            <if test="src != null">src = #{src},</if>
            <if test="size != null">size = #{size},</if>
            <if test="type != null">type = #{type},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteKeystoPngimgHomeById" parameterType="Long">
        delete from keysto_pngimg where id = #{id}
    </delete>

    <delete id="deleteKeystoPngimgHomeByIds" parameterType="String">
        delete from keysto_pngimg where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectKeystoPngimgTypeList"  resultMap="KeystoPngimgTypeResult">
        select type,count(type) countType from keysto_pngimg group  by type;
    </select>

</mapper>